<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <title>Admin - Maki Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-admin.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
</head>
<body onload="checkCookie()">

<center>
  <div class="banner">
    <img src="../static/styles/images/dhvsu.png" style="width: 10%;">
    <img src="../static/styles/images/dhvsu_banner.jpg">
  </div>
</center>
<div class="navbar">
  <div class="admission-logo"></div>
  <span id="logged-in-as">Logged in as {{ session['user_role'] }}: {{ session['username'] }}</span>
  <a href="home-admin">CONVERSATIONS</a>
  {% if session['user_role'] == "Contact" %}
    <div>
      <p>Forbidden</p>
    </div>
  {% else %}
    <div class="dropdown">
        <p id="drop">ACCOUNTS</p>
        <div class="dropdown-content">
            <a href="contact-account">Contacts</a>
            <a href="admin-account">Administrators</a>
        </div>
    </div>
  {% endif %}
  <a href="/admin/admin-logout">LOGOUT<i class="fa-solid fa-right-from-bracket"></i></a>
</div>

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
           <div class="card applicants">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search by Name or Email" name="" class="form-control search">
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <p class="panel-title"><b>APPLICANTS</b> ({{ applicant_count }})</p>
                        <table id="panel-users">
                        <thead>
                        </thead>
                        {% for user in logged_user %}
                            <tbody>
                                <tr>
                                    <td class="toggle-btn" onclick="$('.card.chat').load('{{ url_for('show_message', email=user.log_user_email) }}'); location.href='#applicant={{ user.log_user_email }}'">
                                      <span class="offline-indicator">Offline</span>
                                      <span class="glyphicon glyphicon-exclamation-sign"></span>
                                      {{ user.log_user_name }} <p class="email"> {{ user.log_user_email }} </p>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
      </div>
      <div class="col-md-8 col-xl-6 chat">
          <div class="card chat">
              <div class="card-header msg_head">
                  <div class="d-flex bd-highlight">
                      <div class="img_cont">
                      </div>
                      <div class="user_info">
                          <span> Chat Log </span> 
                      </div>
                  </div>
              </div>
              <main class="card-body msg_card_body">
                <center><h3>Click an Applicant to view their messages.</h3></center> 
                  <div class="img_cont_msg">
                
                  </div>
                  <div class="messages">
                      {% for msg in messages %}
                          <div class="msg_cotainer">
                              <b> {{ msg.msg_from }} </b><br>
                              <br> {{ msg.message }} 
                              <span class="msg_time">{{ msg.timestamp }}</span>
                          </div>
                      {% endfor %}
                  </div>
              </main>
          </div>
      </div>
      <div class="col-md-4 col-xl-3 chat">
          <div class="card admins">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search by Name or Status" name="" class="search contact">
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <h3 class="panel-title"><b>CONTACTS</b> ({{ contact_count }})</h3>
                        <table id="panel-contact">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        {% for user in contacts %}
                            <tbody>
                                <tr>
                                    <td>
                                      {{ user.username }}
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
          </div>
          <div class="card admins">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search by Name or Status" name="" class="search admin">
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <h3 class="panel-title"><b>ADMINISTRATORS</b> ({{ admin_count }})</h3>
                        <table id="panel-admin">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        {% for user in admin %}
                            <tbody>
                                <tr>
                                    <td>
                                      {{ user.username }}
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript">

    var socket = io.connect('http://' + document.domain + ":" + location.port);
    var room = "{{ room_id }}";
    // CONNECT
    socket.on('connect', socket => {
        console.log("Admin has connected.");
    });

    $(document).ready(function(){
      socket.emit('join', {
          channel : room
      });

      $(".form-control.search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#panel-users tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      $(".search.admin").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#panel-admin tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      $(".search.contact").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#panel-contact tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      setTimeout(function() {
        $(".message_flash").fadeOut('slow');
      }, 4000);

    });

  // TOGGLE ACTIVE MESSAGE ALERT OF APPLICANT
  var header = document.getElementById("panel-users");
  var btns = header.getElementsByClassName("toggle-btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active-td");
      // If there's no active class
      if (current.length > 0) {
        current[0].className = current[0].className.replace(" active-td", "");
      }

      // Add the active class to the current/clicked button
      this.className += " active-td";
    });
  }

  // ALERT FROM chatlog.html WHEN A NEW MESSAGE IS RECEIVED
  socket.on('message_alert', function(data) {
    {% for user in logged_user %}
        em = '{{ user.log_user_email }}';
          if( em == data ) {
            document.getElementsByClassName('glyphicon-exclamation-sign')[{{user.id}}-1].style.color="darkred";
            console.log("alert from: ", data);
            $('.toggle-btn').on('click', function() {
              document.getElementsByClassName('glyphicon-exclamation-sign')[{{user.id}}-1].style.color="darkgray";
            });
          }
    {% endfor %}
  });

  // THE ALERT ABOVE IS TEMPORARY DISPLAYED ONLY, REMOVED AFTER RELOADING, THIS ONE IS PERMANENT UNLESS
  {% for user in logged_user %}
    {% for t in test %}
      if("{{ t.msg_session }}"=="{{ user.log_user_email }}") {
        if("{{ t.active }}"=="True"){
          document.getElementsByClassName('glyphicon-exclamation-sign')[{{user.id}}-1].style.color="darkred";
        } else if ("{{ t.active }}"=="false"){
          document.getElementsByClassName('glyphicon-exclamation-sign')[{{user.id}}-1].style.color="darkgray";
        }
      }
    {% endfor %}
  {% endfor %}

  function addPerson(name, email) {
    const msgHTML = `<div class="card-body contacts_body">
                    <table id="panel">
                      <tr>
                        <td>${name}</td>
                        <td>${email}</td>
                      </tr>
                      </table>
                    </div>
                    `;
    msgerChat.insertAdjacentHTML("beforeend", msgHTML);
    msgerChat.scrollTop += 500;
  }

  // Utils
  document.getElementById('drop').addEventListener('mouseover', function() {
    document.getElementById('drop').style.backgroundColor = '#5c0017';
    document.getElementById('drop').style.color = 'white';
  });
  document.getElementById('drop').addEventListener('mouseout', function() {
    document.getElementById('drop').style.backgroundColor = 'white';
    document.getElementById('drop').style.color = '#5c0017';
  });
  document.getElementsByClassName('dropdown-content')[0].addEventListener('mouseover', function() {
    document.getElementById('drop').style.backgroundColor = '#5c0017';
    document.getElementById('drop').style.color = 'white';
  });
  document.getElementsByClassName('dropdown-content')[0].addEventListener('mouseout', function() {
    document.getElementById('drop').style.backgroundColor = 'white';
    document.getElementById('drop').style.color = '#5c0017';
  });

  function get(selector, root = document) {
    return root.querySelector(selector);
  }

  function formatDate(date) {
    const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    const year = date.getFullYear();
    const month = months[date.getMonth()];
    const day = date.getDate();
    const hr = "0" + date.getHours();
    const min = "0" + date.getMinutes();
    return `${month} ${day}, ${hr.slice(-2)}:${min.slice(-2)}`;
  }

  function setCookie(cname,cvalue,exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires=" + d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function checkCookie() {
    username = "{{session['username']}}";
    let user = getCookie("username");
    setCookie("username", user, 365);
  }

  </script>

</body>
</html>