<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home - Maki Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
</head>
<body>
<center>
  <div class="banner">
    <img src="../static/styles/images/dhvsu.png" style="width: 10%;" alt="DHVSU Logo">
    <img src="../static/styles/images/dhvsu_banner.jpg" alt="DHVSU Banner">
  </div>
</center>
<div id="navbar">
  <a href="/logout">Logout</a>
  <img src="{{ session['picture'] }}" alt="Profile Picture">
  <p>{{ session["name"] }}</p>
</div>

<div class="intro">
    <h2>Maki Bot</h2>
    <p><b>Maki</b> can answer your admission related queries quickly but using only english language. But instead of typing, you can choose first on which categories you are and then you can select which queries you want an answer with just by clicking them.<br><br> 
    Make sure that you look for the question on the categories first!<br>
    Example: If you are a Junior High School, simply click the button that MakiBot shows you that says Junior High School then choose for a question that you want an answer with.<br>
    And if have a question that is not included, click the reset button and then choose the "Others" button to look if your question is already there. <br><br>
    If your question is not included, you can type your question in the textbox and send it so that Maki Bot will notify the Admission's Office and you can wait for them to answer your question.<br><br>To use Maki Bot, click the 'Ask Now!' button.<br>To know how to use Maki Bot, click the 'help' button.</p>
    <p>REMINDER: MakiBot cannot take a random conversations because its only goal is to answer Admission related inquiries. Maybe in the future!</p>
    <button class="intro-btn" onclick="scrollToChat()">Ask now!</button>
    <button class="intro-btn" onclick="window.open('/help')">Help?</button>
</div>
<div class="main-container">
    <div class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
              <p class="help-btn-in-msger" onclick="window.open('/help')">Help?</p>
              <span><b> Maki Bot </b></span>
              <label class="switch">
                <input type="checkbox" onclick="toggleBotResponse()" id="toggleBotResponseButton" checked title="Toggle MakiBot response">
                <span class="slider"></span>
              </label>
            </div>
        </header>
        <main class="msger-chat">
            {% for msg in messages %}
                {% if msg.msg_from == session['name'] %}
                    <div class="msg right-msg">
                        <div class="msg-img" style="background-image: url({{session['picture']}})"></div>
                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">{{ msg.msg_from }}</div>
                                <div class="msg-info-time">{{ msg.timestamp }}</div>
                            </div>
                            <div class="msg-text">
                              {{ msg.message }}
                            </div>
                        </div>
                    </div>
                {% elif msg.msg_from == "ADMISSION ADMIN" %}
                    <div class="msg left-msg">
                        <div class="msg-img" style="background-image: url('../static/styles/images/DHVSU-ADMISSION-LOGO.png')"></div>
                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">{{ msg.msg_from }}</div>
                                <div class="msg-info-time">{{ msg.timestamp }}</div>
                            </div>
                            <div class="msg-text">
                              {{ msg.message }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="msg left-msg">
                        <div class="msg-img"></div>
                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">{{ msg.msg_from }}</div>
                                <div class="msg-info-time">{{ msg.timestamp }}</div>
                            </div>
                            <div class="msg-text">
                              {{ msg.message }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="msg left-msg">
                <div class="msg-img"></div>
                    <div class="msg-bubble">
                      <div class="msg-info">
                        <div class="msg-info-name">Maki Bot</div>
                      </div>
                      <div class="msg-text">
                        Greetings. My name is Maki, I am here to answer your queries. Please choose a category below and click what you want to inquire about. Choose 'Others' if your question is not included in other categories.
                        <form class="topic-choices">
                          <button type="submit" id="msg-jhs" onclick="JHSButton()">Junior High School</button>
                          <button type="submit" id="msg-shs" onclick="SHSButton()">Senior High School</button>
                          <button type="submit" id="msg-college" onclick="COLButton()">College</button>
                          <button type="submit" id="msg-collegegrad" onclick="COLGRADButton()">College Graduate</button>
                          <button type="submit" id="msg-others" onclick="OTHERSButton()">Others</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <form class="msger-inputarea">
          <input type="text" class="msger-input" id="message_input" placeholder="Enter your question...">
          <button type="submit" class="msger-send-btn" id="send-user-msg">Send</button>
          <button class="reset-button">Reset</button>
        </form>
    </div>
    <div class="footer">
        <div id="upper-footer">
          <p>Maki Bot 2021</p>
          <span>
            <a class="fb-link" onclick="window.open('https://web.facebook.com/dhvsuofficeofadmissions')">DHVSU Office of Admissions</a>
          </span>
        </div>
        <div id="lower-footer">
          <span>© Don Honorio Ventura State University, 2014. All rights reserved.</span><br>
          <span>Villa de Bacolor, Pampanga, Philippines, 2001</span><br>
          <a href="https://dhvsu.edu.ph/index.php/dhvtsu-web-development">DHVSU-MIS Web Development Team</a>
        </div>
    </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript">

    // CONNECTION TO SERVER
    var socket = io.connect('https://' + document.domain + ":" + location.port);

    socket.on('connect', socket => {
      console.log("Client has connected.");
    });

    function toggleBotResponse() {
      var elem = document.getElementById("toggleBotResponseButton");
      if(makibot_enabled == true) {
        makibot_enabled = false;
        console.log("now false")
      } else {
        makibot_enabled = true;
        console.log("now true")
      }
    }

    $(document).ready(function() {
      // AUTO SCROLL TO BOTTOM
      $(".msger-chat").scrollTop($('.msger-chat').get(0).scrollHeight);

      // JOIN ROOM
      socket.emit('join', {
        channel: room
      });
    });

    var client = "client";
    var bot = "chat bot";
    var room = "{{ room_id }}";
    // SEND USER MESSAGE
    var makibot_enabled = true;
    $('#send-user-msg').on('click', function() {
      event.preventDefault();
      if (!$('#message_input').val()) {
        alert("Input your message first!")
        return
      }
      var text = $('#message_input').val();
      newMessage(text, client, USER_NAME);
      getClientMessage(text);
      if(makibot_enabled == true) {
        botResponse(text);
      }
      $('#message_input').val('');
    });

    socket.on('receive_message', function (data) {
        console.log(data);
        if(data.role == client) {
          appendMessage(USER_NAME, USER_IMG, "right", data.message);
        } else if(data.role == bot) {
          appendMessage(BOT_NAME, BOT_IMG, "left", data.message);
        } else {
          appendMessage(ADMIN_NAME, ADMIN_IMG, "left", data.message);
        }
    });

    // SEND THE MESSAGE THROUGH SOCKET
    function newMessage(text, from, name) {
      socket.emit('send_message', {
          channel: room,
          message: text,
          role: from,
          username: name
      });
    }

    const topicChoices = get(".topic-choices");
    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");
    const body = get("body");
    // BOT
    const BOT_NAME = "Maki Bot";
    const BOT_IMG = "../static/styles/images/bot-icon.png";
    // USER
    var USER_NAME = "{{ session["name"] }}";
    var USER_IMG = "{{ session["picture"] }}";
    // ADMIN
    var ADMIN_NAME = "Admission Admin";
    var ADMIN_IMG = "../static/styles/images/DHVSU-ADMISSION-LOGO.png";

    // CURRENT FAQs
    const question1 = "How do I apply for student admission?";
    const question2 = "How will I know if my admission application was approved?";
    const question3 = "How will I know if my admission application was successfully submitted?";
    const question4 = "What are the requirements for admission application?";
    const question5 = "Can I proceed with admission application even if I don't have all the requirements?";
    const question6 = "What is LRN?";
    const question7 = "Do you accept applicants for methods of teaching?";
    const question8 = "Do you accept transferees for 2nd Semester AY 2020-2021?";

    // BUTTON TO SCROLL BELOW TO CHAT
    function scrollToChat() { $("html, body").scrollTop($('html, body').get(0).scrollHeight-1030); }

    // BUTTONS
    // FIRST CATEGORIES
    function JHSButton() { 
      msgerInput.value = "Junior High School";
    }
    function SHSButton() { 
      msgerInput.value = "Senior High School";
    }
    function COLButton() { 
      msgerInput.value = "College";
    }
    function COLGRADButton() { 
      msgerInput.value = "College Graduate";
    }
    function OTHERSButton() { 
      msgerInput.value = "Others";
    }

    // SUBMIT CHOICE
    topicChoices.addEventListener("submit", event => {
      event.preventDefault();
      const msgText = msgerInput.value;
      if (!msgText) return;
      appendMessage(USER_NAME, USER_IMG, "right", msgText);
      getClientMessage(msgText);
      msgerInput.value = "";
      if (msgText == "Junior High School") {
        addCategories("You chosed Junior High School, choose below which question you want to be answered.", question1, question2, question3, question4, question5);
      } else if (msgText == "Senior High School") {
        addCategories("You chosed Senior High School, choose below which question you want to be answered.", question1, question2, question3, question4, question5);
      } else if (msgText == "College") {
        addCategories("You chosed College, choose below which question you want to be answered.", question1, question2, question3, question4, question5, question6);
      } else if (msgText == "College Graduate") {
        addCategories("You chosed College Graduate, choose below which question you want to be answered.", question1, question2, question3, question4, question5, question6, question7, question8);
      } else if (msgText == "Others"){
        categoryOthers("You chosed Others, choose below which question you want to be answered.");
      } else {
        botResponse(msgText);
      }
    });

    // SECOND CATEGORIES
    function triggerquery1() {
      event.preventDefault();
      msgerInput.value = question1;
      const msgText = msgerInput.value;
      newMessage(msgText, client, USER_NAME);
      getClientMessage(msgText);
      if (!msgText) return;
      botResponse(msgText);
      msgerInput.value = "";
    }
    function triggerquery2() {
      event.preventDefault();
      msgerInput.value = question2;
      const msgText = msgerInput.value;
      newMessage(msgText, client, USER_NAME);
      getClientMessage(msgText);
      if (!msgText) return;
      botResponse(msgText);
      msgerInput.value = "";
    }
    function triggerquery3() {
      event.preventDefault();
      msgerInput.value = question3;
      const msgText = msgerInput.value;
      newMessage(msgText, client, USER_NAME);
      getClientMessage(msgText);
      if (!msgText) return;
      botResponse(msgText);
      msgerInput.value = "";
    }
    function triggerquery4() {
      event.preventDefault();
      msgerInput.value = question4;
      const msgText = msgerInput.value;
      newMessage(msgText, client, USER_NAME);
      getClientMessage(msgText);
      if (!msgText) return;
      botResponse(msgText);
      msgerInput.value = "";
    }
    function triggerquery5() {
      event.preventDefault();
      msgerInput.value = question5;
      const msgText = msgerInput.value;
      newMessage(msgText, client, USER_NAME);
      getClientMessage(msgText);
      if (!msgText) return;
      botResponse(msgText);
      msgerInput.value = "";
    }
    function triggerquery6() {
      event.preventDefault();
      msgerInput.value = question6;
      const msgText = msgerInput.value;
      newMessage(msgText, client, USER_NAME);
      getClientMessage(msgText);
      if (!msgText) return;
      botResponse(msgText);
      msgerInput.value = "";
    }
    function triggerquery7() {
      event.preventDefault();
      msgerInput.value = question7;
      const msgText = msgerInput.value;
      newMessage(msgText, client, USER_NAME);
      getClientMessage(msgText);
      if (!msgText) return;
      botResponse(msgText);
      msgerInput.value = "";
    }
    function triggerquery8() {
      event.preventDefault();
      msgerInput.value = question8;
      const msgText = msgerInput.value;
      newMessage(msgText, client, USER_NAME);
      getClientMessage(msgText);
      if (!msgText) return;
      botResponse(msgText);
      msgerInput.value = "";
    }

    // RESET BUTTON
    $(".reset-button").on('click', function() {
      event.preventDefault();
      window.location.reload();
    });

    // ADD CATEGORIES
    function addCategories(caption, query1, query2, query3, query4, query5, query6, query7, query8) {
      var msgHTML = `
      <div class="msg left-msg">
        <div class="msg-img" style='background-image: url("../static/styles/images/bot-icon.png")'></div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Maki Bot</div>
          </div>
          <div class="msg-text">
            ${caption}
            <form class="topic-choices">
              <button type="submit" id="query01" onclick="triggerquery1()">${query2}</button>
              <button type="submit" id="query02" onclick="triggerquery2()">${query2}</button>
              <button type="submit" id="query03" onclick="triggerquery3()">${query3}</button>
              <button type="submit" id="query04" onclick="triggerquery4()">${query4}</button>
              <button type="submit" id="query05" onclick="triggerquery5()">${query5}</button>
              <button type="submit" id="query06" onclick="triggerquery6()">${query6}</button>
              <button type="submit" id="query07" onclick="triggerquery7()">${query7}</button>
              <button type="submit" id="query08" onclick="triggerquery8()">${query8}</button>
            </form>
          </div>
        </div>
      </div>`;
      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
      msgerChat.lastElementChild;
      if (query1 === undefined) {
        document.getElementById('query01').style.visibility = 'hidden';
      } else {
        document.getElementById('query01').style.visibility = 'visible';
      }
      if (query2 === undefined) {
        document.getElementById('query02').style.visibility = 'hidden';
      } else {
        document.getElementById('query02').style.visibility = 'visible';
      }
      if (query3 === undefined) {
        document.getElementById('query03').style.visibility = 'hidden';
      } else {
        document.getElementById('query03').style.visibility = 'visible';
      }
      if (query4 === undefined) {
        document.getElementById('query04').style.visibility = 'hidden';
      } else {
        document.getElementById('query04').style.visibility = 'visible';
      }
      if (query5 === undefined) {
        document.getElementById('query05').style.visibility = 'hidden';
      } else {
        document.getElementById('query05').style.visibility = 'visible';
      }
      if (query6 === undefined) {
        document.getElementById('query06').style.visibility = 'hidden';
      } else {
        document.getElementById('query06').style.visibility = 'visible';
      }
      if (query7 === undefined) {
        document.getElementById('query07').style.visibility = 'hidden';
      } else {
        document.getElementById('query07').style.visibility = 'visible';
      }
      if (query8 === undefined) {
        document.getElementById('query08').style.visibility = 'hidden';
      } else {
        document.getElementById('query08').style.visibility = 'visible';
      }
    }
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }
    function newQueryRespond(question) {
      event.preventDefault();
      msgerInput.value = question;
      const msgText = msgerInput.value;
      newMessage(msgText, client, USER_NAME);
      getClientMessage(msgText);
      if (!msgText) return;
      msgerInput.value = "";
      {% for faqs in new_faqs %}
        if(msgText == "{{ faqs.question }}") {
          newMessage("{{ faqs.answer }}", bot, BOT_NAME);
          getFaqAnswer("{{ faqs.answer }}");
        }
      {% endfor %}
    }

    // List of questions for 'others' option
    function categoryOthers(caption) {
      var msgHTML = `
      <div class="msg left-msg">
        <div class="msg-img" style='background-image: url("../static/styles/images/bot-icon.png")'></div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Maki Bot</div>
          </div>
          <div class="msg-text">
            ${caption}
            <form class="topic-choices">
              {% for q in new_faqs %}
                <button type="submit" id="query01" onclick="newQueryRespond('{{q.question}}')">{{q.question}}</button>
              {% endfor %}
            </form>
            If you have a question that is not included, you can send your question below and wait for the answer from the Admission if I cannot answer your question.
          </div>
        </div>
      </div>`;
      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    // MESSAGE BUBBLE
    function appendMessage(name, img, side, text) {
      var msgHTML = `
          <div class="msg ${side}-msg">
            <div class="msg-img" style="background-image: url(${img})"></div>
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">${name}</div>
                <div class="msg-info-time">${formatDate(new Date())}</div>
              </div>
              <div class="msg-text">${text}</div>
            </div>
          </div>`;
      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    // GET THE CLIENT MESSAGE TO PUT IN THE DATABASE
    function getClientMessage(rawText,) {
        $.get("/get_client_message", { message: rawText }).done(function (data) {
            console.log(data);
        });
    }
    function getFaqAnswer(rawText,) {
        $.get("/get_faq_message", { message: rawText }).done(function (data) {
            console.log(data);
        });
    }

    // BOT RESPONSE
    function botResponse(rawText) {
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        newMessage(msgText, bot, BOT_NAME)
      });
    }

    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
      const year = date.getFullYear();
      const month = months[date.getMonth()];
      const day = date.getDate();
      const hr = "0" + date.getHours();
      const min = "0" + date.getMinutes();
      return `${month} ${day}, ${hr.slice(-2)}:${min.slice(-2)}`;
    }

    /*
    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};

    // Get the navbar
    var navbar = document.getElementById("navbar");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    } */
  </script>

</body>
</html>