<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login - Maki Bot</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css">
</head>
<body>

<div class="login-page">
	<div class="login-header">
		<div class="login-header-content">
			<h1>Welcome to DHVSU Admissions Inquiry Chatbot Webpage</h1>
			<p>An Artificial Intelligent Chatbot designed to answer admission related queries</p>
		</div>
	</div>
	<div class="login-container">
		<div class="login-container-header">
			Login
		</div>
		<div class="login-content">
			Use your google account
			<a href="/login"><button class="login-button"><i class="fab fa-google"></i>Login</button></a>
		</div>
	</div>
</div>

</body>
</html>