<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login - Maki Bot</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
<center>
  <div id="wrapper_top">
    <img src="../static/styles/images/dhvsu_logo_headerbar1.png" alt="DHVSU Logo Headbar">
    <p> Become an Honorian! </p>
  </div>
  <div class="banner">
    <img src="../static/styles/images/dhvsu.png" style="width: 10%;" alt="DHVSU Logo">
    <img src="../static/styles/images/dhvsu_banner.jpg" alt="DHVSU Banner">
  </div>
</center>
<div class="login-page">
	<div class="login-header">
		<div class="login-header-content">
			<h1>Welcome to DHVSU Admissions Inquiry Chatbot Webpage</h1>
			<p>An Artificial Intelligent Chatbot designed to answer admission related queries</p>
		</div>
	</div>
	<div class="login-container">
		<div class="login-container-header">
			Login
		</div>
		<div class="login-content">
			Use your google account
			<a href="/login"><button class="login-button"><i class="fab fa-google"></i>Login</button></a>
		</div>
	</div>
</div>

</body>
</html>