body,html {
		height: 100%;
		margin: 0;
	    --login-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
		}

		.footer {
	      margin-top: 60px;
		  bottom: 0;
	    }
	    #upper-footer {
	      padding: 100px;
	      color: white;
	      background-color: #5c0017;
	    }
	    #lower-footer {
	      padding: 10px;
	      font-size: 0.8em;
	      text-align: center;
	      background-color: #feba29;
	    }

		.banner {
			width: 100%;
			background-color: #5c0017;
			overflow: auto;
			border-bottom: #feba29 4px solid;
		}

		#wrapper_top {
			background-color: #feba29;
			width: 100%;
			height: 42px;
		}

		#wrapper_top img{
			width: 2.5%;
			margin: 4px;
			margin-left: 11.3%;
			float: left;
		}

		#wrapper_top p {
			text-align: left;
			font-size: 13px;
			color: #d7391f;
			padding: 11px;
			padding-left: 2%;
		}

		#wrapper_menu {
			text-align: left;
			padding: 9px;
			margin-top: 1px;
			background-color: #5c0017;
			display: block;
		}

		#wrapper_menu a {
			color: white;
			background-color: #b3002d;
			padding: 10px 22px 10px 22px;
			text-decoration: none;
		}

		#wrapper_menu a:hover {
			background-color: #800020;
		}

		#wrapper_menu .active {
			background-color: #800020;
			border-bottom: none;
		}

		#wrapper_menu .logout {
			font-size: 15px;
			background-color: red;
			margin-left: 61.5%;
			border-radius: 10%;
			padding: 3px 16px 3px 16px;
		}

		#wrapper_menu .logout:hover {
			background-color: #b30000;
		}

		#wrapper_menu .nonclickable {
			background-color: #5c0017;
		}

		#add-btn {
			font-size: 1.5em;
			float: right;
			margin: 10px;
			color: white;
		}
		#add-btn:hover {
			cursor: pointer;
			color: #c3cfe2;
		}
		#cancel-btn {
			font-size: 1.6em;
			color: red;
			margin: 5px;
			float: right;
			display: none;
		}
		#confirm-btn {
			font-size: 1.6em;
			color: green;
			margin: 5px;
			float: right;
			display: none;
		}
		#cancel-btn:hover, #confirm-btn:hover {
			color: #c3cfe2;
			cursor: pointer;
		}
		.msg-selection {
			float: right;
			transform: scale(1.5);
			display: none;
		}

		.alert {
		  padding: 20px;
		  background-color: #f44336;
		  color: white;
		}

		.closebtn {
		  margin-left: 15px;
		  color: white;
		  font-weight: bold;
		  float: right;
		  font-size: 22px;
		  line-height: 20px;
		  cursor: pointer;
		  transition: 0.3s;
		}

		.closebtn:hover {
		  color: black;
		}

		.glyphicon.glyphicon-trash.grey {
			color: grey;
		}
		.glyphicon.glyphicon-trash {
			color: #5c0017;
		}

		.offline-indicator {
			float: right;
			color: #4d0000;
		}
		.admin-offline-indicator {
			float: right;
			color: #4d0000;
		}
		.contact-offline-indicator {
			float: right;
			color: #4d0000;
		}

		/* ADD ACCOUNT DROPDOWN FORM */
		.add-dropbtn {
		  background-color: #3498DB;
		  color: white;
		  padding: 16px;
		  font-size: 16px;
		  border: none;
		  cursor: pointer;
		}

		.admission-logo {
			width: 40px;
			min-width: 40px;
			height: 40px;
			margin: 0;
			background: rgb(92, 0, 23, 0.3);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 50%;
			background-image: url("images/DHVSU-ADMISSION-LOGO.png");
		}

		.glyphicon-exclamation-sign {
			color: darkgray;
		}

		.new_message_alert {
			color: red;
			background-color: red;
		}

		.reminder {
			position: absolute;
			margin: 5px;
			color: red;
			text-align: left;
			font-size: 1em;
		}

		.h-100 {
			margin: 0 !important;
		}
		.chat {
			margin: 0 !important;
		}

		.email {
			color: black;
			margin-left: 18px;
		}
		.send_btn {
			padding: 19.5px !important;
			height: auto;
			font-size: 1em !important;
		}

		a *{
			color: white;
			transition: all 500ms;
		}
		a *:hover {
			cursor: pointer;
			text-decoration: none;
			font-size:1.3em;
    		font-size-adjust: 20px;
		}

		.navbar {
		  	background-color: white;
		  	font-weight: bold;
		  	border-bottom: 2px solid #5c0017 !important;
			margin: 0;
		}
		.navbar #logged-in-as {
			width: 1%;
			min-width: 150px;
			color: #5c0017;
		}
		.navbar a, .con {
			padding: 10px;
			font-size: 1em;
		  	display: block;
		  	color: #5c0017;
		  	text-align: center;
		  	text-decoration: none;
		}
		.navbar a:hover, .con:hover {
			background-color: #5c0017;
			color: white;
			cursor: pointer;
		  	text-decoration: none;
		}
		.navbar img {
		  	width: 35px;
		  	margin-top: 5px;
		  	height: auto;
		  	float: right;
		  	display: block;
		}
		#drop {
			padding: 10px;
			color: #5c0017;
			margin: 0;
			text-align: left;
			text-decoration: none;
			display: block;
		}
		#drop:hover {
			background-color: #5c0017;
			color: white;
		}
		.dropdown {
			position: relative;
			display: inline-block;
			cursor: default;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			margin-top: 1px;
			background-color: #5c0017;
			border: 1px solid #feba29;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}

		.dropdown-content a {
			margin: 0 auto;
			text-align: left;
			color: white;
			padding: 4px 16px;
			margin: 3px;
			font-size: 1.3em;
			font-weight: normal;
			text-decoration: none;
			display: block;
		}
		.dropdown-content a:hover {
			color: #5c0017;
			background-color: rgb(255, 255, 255, 0.5);
		}

		.dropdown:hover .dropdown-content {
			display: block
		}

		.login-page {
	      	background: var(--login-bg);
	      	height: auto;
	      	vertical-align: middle;
	      	justify-content: center;
	      	align-items: center;
	    }
	    .login-header {
	      	text-align: center;
	      	vertical-align: middle;
	      	justify-content: center;
	      	padding: 100px;
	      	width: 100%;
	      	color: white;
	      	background-color: #5c0017;
	      	border-bottom: 2px solid #d7a51e;
	      	box-shadow: 0 5px black;
	    }
	    .login-header-content {
	      	margin-top: 220px;
	      	margin: 0 auto;
	      	align-items: center;
	    }
	    .login-container {
	      	margin: 20px auto;
	      	height: 100%;
	    }
	    .login-container-header {
	      	background: #d7a51e;
	      	margin: 0 auto;
	      	text-align: center;
	      	padding: 15px;
	      	width: 25%;
	      	min-width: 250px;
	      	border-radius: 20px 20px 0 0;
	      	font-size: 30px;
	      	box-shadow: 8px 8px;
	      	text-shadow: 2px 2px 4px;
	    }
	    .login-content {
	      	margin: 0 auto;
	      	text-align: center;
	      	padding: 35px;
	      	width: 25%;
	      	height: auto;
	      	min-width: 250px;
	      	background-color: white;
	      	border-radius: 0 0 20px 20px;
	      	box-shadow: 8px 8px;
	    }
	    .login-button {
	      	padding: 15px;
	      	width: 110px;
	      	margin: 10px auto;
	      	border: 0;
	      	box-shadow: 2px 2px;
	      	background-color: #d7a51e;
	    }
	    .login-button:hover {
	      	cursor: pointer;
	      	box-shadow: 0;
	      	background-color: #9d7915;
	    }
	    .login-button:focus {
	      	cursor: pointer;
	      	box-shadow: 0;
	      	background-color: #9d7915;
	    }

		.message_flash {
			background-color: #adad85;;
			text-align: center;
			padding: 15px;
			color: white;
			transition: all 500ms;
			position: absolute;
			width: 100%;
		}
		.login_message_flash{
			text-align: left;
			color: red;
			margin: 0 auto;
		}

		#submit-btn {
			border: 0;
			margin-left: 5px;
			padding: 10px;
			padding-left: 25px;
			padding-right: 25px;
			color: white;
			background-color: rgba(0,0,0,0.3);
		}
		#submit-btn #submit-text {
			color: white;
		}
		#submit-btn:hover {
			background-color: rgb(245, 245, 0, 0.4);
			border: 1px solid black;
		}

		.panel-title {
			padding: 5px;
			text-align: center;
			cursor: context-menu;
		}
		.panel-title b{
			color: #5c0017;
			font-size: 1.5em;
		}
		#panel {
			table-layout: fixed;
			width: 100%;
		  	border-collapse: collapse;
		}
		#panel a {
			color: #5c0017;
		}
		#panel td {
		  	padding: 15px 0 15px 0;
			color: #5c0017;
			overflow-x: auto;
			text-align: center;
			border-top: 1px solid rgb(92, 0, 23, 0.5);
			border-bottom: 1px solid rgb(92, 0, 23, 0.5);
		}
		tr:nth-child(even) {
		  background-color: #dddddd;
		}
		#panel tr:hover {
		  background-color: #dddddd;
		}
		#panel th {
		  	padding-top: 12px;
		  	padding-bottom: 12px;
		  	text-align: center;
		  	width: 100%;
		  	color: #5c0017;
			border-top: 1px solid rgb(92, 0, 23, 0.5);
			border-bottom: 1px solid rgb(92, 0, 23, 0.5);
		}
		#form-row {
			background-color: white;
		}
		#input-form {
			width: 100%;
		}
		.account-input {
			color: black;
			border-radius: 0;
			background-color: rgba(0,0,0,0.3);
			border: 0;
			width: 100px;
			margin: 5px;
			padding: 10px;
		}
		#panel-users {
			table-layout: fixed;
			width: 99%;
			min-width: 290px;
		  	border-collapse: collapse;
		}
		#panel-users a {
			color: #5c0017;
		}
		#panel-users td {
		  	padding: 15px 15px 15px 15px;
		  	min-width: 20px;
			color: #5c0017;
			overflow-x: auto;
			border-top: 1px solid rgb(92, 0, 23);
			border-bottom: 1px solid rgb(92, 0, 23);
		}
		.active-td{
			background-color: rgb(92, 0, 23, 0.3);
		}
		#panel-users td:hover {
			background-color: rgb(92, 0, 23, 0.3);
			cursor: pointer;
		}
		#panel-users th {
		  	padding-top: 12px;
		  	padding-bottom: 12px;
		  	text-align: left;
		  	color: #5c0017;
		}
		#panel-users {
			table-layout: fixed;
			margin: 0 auto;
		  	border-collapse: collapse;
		}

		#panel-admin {
			width: 100%;
			color: #5c0017;
		}
		#panel-contact {
			width: 100%;
			color: #5c0017;
		}
		#panel-admin td {
			width: 1%;
		  	padding: 8px;
			overflow-x: auto;
		}
		#panel-contact td {
		  	padding: 8px;
			overflow-x: auto;
		}
		#panel-contact th, #panel-admin th {
		  	padding-top: 12px;
		  	padding-bottom: 12px;
		  	text-align: center;
			border-top: 1px solid rgb(92, 0, 23);
			border-bottom: 1px solid rgb(92, 0, 23);
		}
		#panel-admin tr:hover {background-color: rgb(92, 0, 23, 0.3);}
		#panel-contact tr:hover {background-color: rgb(92, 0, 23, 0.3);}

		.col-md-4.col-xl-3.chat {
			margin: 0 0 15px 0 !important;
			min-width: 100px;
		}
		.col-md-8.col-xl-6.chat {
			margin: 0 auto;
			margin-top: 5px !important;
			padding: 0;
		}
		.messages {
			font-size: 1.08em;
			margin: 0 20px 0 20px;
			color: white;
		}
		.messages .msg_container {
			min-width: 300px;
			padding: 17px;
			color: white;
			background-color: rgb(92, 0, 23);
		}
		.messages .msg_container.right {
			min-width: 220px;
			padding: 17px;
			background-color: rgb(92, 0, 23, 0.9);
			margin-bottom: 40px;
			margin-left: 200px;
			border-radius: 10px 10px 10px 0;
		}
		.messages .msg_container.left {
			display: inline-block;
			min-width: 300px;
			padding: 17px;
			margin-right: 200px;
			background-color: rgb(92, 0, 23, 0.9);
			margin-bottom: 40px;
			border-radius: 10px 10px 10px 0;
		}

		.msg_container_send {
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 10px;
			border-radius: 25px;
			background-color: #78e08f;
			padding: 10px;
			position: relative;
		}
		.msg_time_container {
			text-align: center;
			margin: 0 auto;
		}
		.msg_time {
			color: rgba(255,255,255,0.5);
			font-size: .85em;
			color: #5c0017;
		}
		.msg_head {
			position: relative;
		}

		.chat {
			margin-top: auto;
			margin-bottom: auto;
		}
		.card {
			width: 100% !important;
			box-shadow: 5px 10px 22px;
			margin: 0 auto;
			margin-top: 5px;
			height: 650px;
			background-color: rgb(245, 245, 0, 0.4) !important;
		}
		.card.admins {
			color: black;
			height: 47.4%;
			max-height: 330px;
		}
		.card.chat {
			width: 100% !important;
			box-shadow: 5px 10px 22px;
			margin-top: 10px;
			margin: 0 auto;
			height: 650px;
			background-color: rgb(245, 245, 0, 0.4) !important;
		}
		.card.mb-sm-3.mb-md-0.contacts_card {
			width: 60% !important;
			min-width: 658px;
		}
		.card-body {
			width: 100% !important;
			margin: 0 auto !important;
			background-color: white !important;
		}
		.contacts_body {
			padding:  0.75rem 0 !important;
			margin: 0 !important;
			overflow-y: auto;
			white-space: nowrap;
			background-color: white !important;
		}
		.msg_card_body {
			overflow-y: auto;
		}
		.card-header {
			height: 65px !important;
			border-bottom: 2 px solid #feba29 !important;
			background-color: #5c0017 !important;
		}
		.card-footer {
		 	width: 100% !important;
			background-color: #5c0017 !important;
			border-top: 2px solid #feba29 !important;
		}
		.form-control {
			width: 40% !important;
			margin: 0 auto;
		}
		.form-control.search {
			width: 50% !important;
			min-width: 200px !important;
		}
		.search.admin, .search.contact {
			width: 50% !important;
			padding: 5px;
			min-width: 200px !important;
		}

		.form-control.type_msg {
			max-width: 85% !important;
		}
		.form-control.type_msg:hover {
			background-color: #990026 !important;
		}
		.form-control.type_msg:focus {
			background-color: #990026 !important;
		}
		.input-group {
			margin: 10px auto;
			width: 80% !important;
			min-width: 160px;
		}
		.input-group-text {
			width: 100%;
		}
		.input-group-text.send_btn {
			width: 25%;
			min-width: 75px;
			height: auto;
			float: right !important;
		}
		.container{
			align-content: center;
		}
		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			height: 60px !important;
			width: 100% !important;
			overflow-y: auto;
		}
		.type_msg:hover {
			background-color: rgb(245, 245, 0, 0.2) !important;
		}
		.type_msg:focus{
		   box-shadow:none !important;
           outline:0px !important;
           background-color: rgb(245, 245, 0, 0.2) !important;
		}
		.send_btn{
			/* border-radius: 15px 15px 15px 15px !important; */
			background-color: rgba(0,0,0,0.3) !important;
			border: 0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn:hover {
			background-color: #990026 !important;
		}
		.search {
			/* border-radius: 15px 0 0 15px !important; */
			border:0 !important;
			color: #5c0017 !important;
			width: 85% !important;
		}
		.search_btn{
			/* border-radius: 15px 15px 15px 15px !important; */
			background-color: rgba(0,0,0,0.3) !important;
			width: 10% !important;
			min-width: 45px !important;
			border: 0 !important;
			float: left !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn:hover {
			background-color: rgb(245, 245, 0, 0.2) !important;
		}
		.fa-search {
			width: 27px !important;
			height: auto !important;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
		.active{
			background-color: rgba(0,0,0,0.3);
		}
		.user_img{
			height: 70px;
			width: 70px;
			border:1.5px solid #f5f6fa;

		}
		.user_img_msg{
			height: 40px;
			width: 40px;
			border:1.5px solid #f5f6fa;

		}
		.img_cont{
				position: relative;
				height: 70px;
				width: 70px;
		}
		.img_cont_msg{
				height: 40px;
				width: 40px;
		}
		.online_icon{
			position: absolute;
			height: 15px;
			width:15px;
			background-color: #4cd137;
			border-radius: 50%;
			bottom: 0.2em;
			right: 0.4em;
			border:1.5px solid white;
		}
		.offline{
			background-color: #c23616 !important;
		}
		.user_info{
			margin: 10px;
		}
		.user_info span{
			font-size: 20px;
			color: white;
		}
		#action_menu_btn{
			position: absolute;
			right: 10px;
			top: 10px;
			color: white;
			cursor: pointer;
			font-size: 20px;
		}
		.action_menu{
			z-index: 1;
			position: absolute;
			padding: 15px 0;
			background-color: rgba(0,0,0,0.5);
			color: white;
			border-radius: 15px;
			top: 30px;
			right: 15px;
			display: none;
		}
		.action_menu ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.action_menu ul li{
			width: 100%;
			padding: 10px 15px;
			margin-bottom: 5px;
		}
		.action_menu ul li i{
			padding-right: 10px;

		}
		.action_menu ul li:hover{
			cursor: pointer;
			background-color: rgba(0,0,0,0.2);
		}
		@media(max-width: 576px){
		.contacts_card{
			margin-bottom: 15px !important;
		}

		/* LOADER ANIMATION */
		.modal {
		    display:    none;
		    position:   fixed;
		    z-index:    1000;
		    top:        0;
		    left:       0;
		    height:     100%;
		    width:      100%;
		    background: rgba( 255, 255, 255, .8 )
		                url('http://i.stack.imgur.com/FhHRx.gif')
		                50% 50%
		                no-repeat;
		}

		/* When the body has the loading class, we turn
		   the scrollbar off with overflow:hidden */
		body.loading .modal {
		    overflow: hidden;
		}

		/* Anytime the body has the loading class, our
		   modal element will be visible */
		body.loading .modal {
		    display: block;
		}
		.loader-wrapper {
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  top: 0;
		  left: 0;
		  background-color: #242f3f;
		  display:flex;
		  justify-content: center;
		  align-items: center;
		}
		.loader {
		  display: inline-block;
		  width: 30px;
		  height: 30px;
		  position: relative;
		  border: 4px solid #Fff;
		  top: 50%;
		  animation: loader 2s infinite ease;
		}

		.loader-inner {
		  vertical-align: top;
		  display: inline-block;
		  width: 100%;
		  background-color: #fff;
		  animation: loader-inner 2s infinite ease-in;
		}

		@keyframes loader {
		  0% {
		    transform: rotate(0deg);
		  }

		  25% {
		    transform: rotate(180deg);
		  }

		  50% {
		    transform: rotate(180deg);
		  }

		  75% {
		    transform: rotate(360deg);
		  }

		  100% {
		    transform: rotate(360deg);
		  }
		}

		@keyframes loader-inner {
		  0% {
		    height: 0%;
		  }

		  25% {
		    height: 0%;
		  }

		  50% {
		    height: 100%;
		  }

		  75% {
		    height: 100%;
		  }

		  100% {
		    height: 0%;
		  }

	}